* {
  font-family: sans-serif;
  box-sizing: border-box;
  font-size: 1vw;
}
.boxcenter {
  width: 100%;
  margin: 0 auto;
}
.row {
  float: left;
  width: 100%;
}
.mb {
  margin-bottom: 20px;
}
.mb10 {
  margin-bottom: 10px;
}
.mr {
  margin-right: 2%;
}
.demo {
  background-color: #edeae5;
  min-height: 100px;
}
.header {
  background-color: #18191a;
  font-size: 1vw;
  color: white;
  border-radius: 5px;
}
.header h1 {
  margin: 20px;
  font-size: 1.4vw;
}
.menu {
  background-color: #99a5a2;
  color: white;
  border-radius: 5px;
}
.boxphai {
  float: left;
  width: 24%;
}
.boxtrai {
  float: left;
  width: 74%;
}
.footer {
  background-color: #99a5a2;
  font-size: 0.8vw;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  padding: 10px;
}
.boxtitle {
  background-color: #797979;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: 1px solid #edeae5;
  color: #000000;
  padding: 10px;
}
.boxcontent {
  border-left: 1px solid #edeae5;
  border-right: 1px solid #edeae5;
  border-bottom: 1px solid #edeae5;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  min-height: 200px;
  padding: 10px;
}
.boxcontent2 {
  border-left: 1px solid #edeae5;
  border-right: 1px solid #edeae5;
  border-bottom: 1px solid #edeae5;
  min-height: 200px;
}
.boxfooter {
  background-color: #797979;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-left: 1px solid #edeae5;
  border-right: 1px solid #edeae5;
  border-bottom: 1px solid #edeae5;
  border: 1px solid #edeae5;
  padding: 10px;
}
.banner {
  min-height: 500px;
  width: 100%;
  text-align: center;
}
.banner img {
  height: 450px;
}
.boxsp {
  float: left;
  width: 32%;
  min-height: 300px;
  border: 1px #ccc solid;
  border-radius: 5px;
  margin: 5px;
}
.boxsp .img {
  min-height: 120px;
  text-align: center;
}
.boxsp p {
  font-size: 1.3vw;
  font-weight: bold;
}
.boxsp a {
  text-decoration: none;
  color: #000;
  font-size: 0.9vw;
}
.boxsp p {
  margin-bottom: 5px;
  padding: 5px 10px;
}
.boxsp a {
  margin-bottom: 5px;
}
.btnaddtocart {
  margin-left: 20px;
  margin-bottom: 20px;
}
.ten {
  margin-bottom: 5px;
  padding: 1px 5px;
}
.img img {
  width: 100%;
  border-radius: 5px;
}
.menu ul {
  padding: 0 10px;
}
.menu ul li {
  list-style-type: none;
  display: inline;
  padding: 0 15px;
}
.menu ul li a {
  color: #000;
  text-decoration: none;
  font-weight: bold;
  transition: 0.5;
}
.menu ul li a:hover {
  color: white;
  font-size: 1.1vw;
}
.formtaikhoan {
  line-height: 150%;
}
.formtaikhoan input[type="text"],
.formtaikhoan input[type="password"],
.formtaikhoan input[type="email"],
.formtaikhoan input[type="tel"] {
  width: 100%;
  border: 1px #797979 solid;
  padding: 5px 10px;
  border-radius: 5px;
}
.formtaikhoan input[type="checkbox"] {
  border-radius: 5px;
}
.formtaikhoan input[type="submit"],
.formcontent input[type="submit"],
.formcontent input[type="reset"],
.formtaikhoan input[type="reset"],
.formcontent input[type="button"],
.addtocart input[type="submit"] {
  border-radius: 5px;
  padding: 5px 8px;
  background-color: #fff;
  border: 1px solid #797979;
  font-size: medium;
}
.formtaikhoan li a {
  color: #026670;
  text-decoration: none;
}
.formtaikhoan li a:hover {
  font-weight: bold;
  text-decoration: underline;
}

.menudoc ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.menudoc ul li {
  padding: 10px 20px;
  border-bottom: 1px #edeae5 solid;
}
.menudoc ul li a {
  color: #000;
  text-decoration: none;
}
.menudoc ul li:hover {
  color: white;
  background-color: #797979;
}
.searchbox input[type="text"] {
  width: 75%;
  padding: 5px 8px;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #edeae5;
}
.searchbox input[type="submit"] {
  width: 24%;
  float: right;
  padding: 5px 8px;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #edeae5;
}
.searchbox input[type="submit"]:hover {
  width: 24%;
  float: right;
  padding: 5px 8px;
  background-color: #797979;
  border-radius: 5px;
  border: 1px solid gray;
  color: white;
}
.top10 img {
  width: 10%;
  height: 35px;
  float: left;
  margin-right: 10px;
}
.top10 a {
  color: #000;
  text-decoration: none;
}
.top10 a:hover {
  color: #026670;
  text-decoration: underline;
}
.headeradmin {
  background-color: #a4c1c4;
  color: white;
  padding: 0 35px;
  border-radius: 5px;
}
.headeradmin h1 {
  font-size: 2vw;
}
.formtitle {
  background-color: #026670;
  color: white;
  padding: 0 35px;
  border-radius: 5px;
}
.formcontent {
  padding: 20px 0;
}
.formdslh table {
  width: 100%;
  text-align: center;
  border-radius: 15px;
  border-collapse: collapse;
}
.formdslh table th {
  padding: 10px;
  background-color: #797979;
}
.formdslh table td {
  padding: 15px 5px;
  border: 1px solid #edeae5;
}
.formbs table {
  width: 100%;
  text-align: center;
}
.formbs table th {
  padding: 10px;
  background-color: #797979;
}
.formbs table th:nth-child(2) {
  padding: 10px;
  width: 25%;
  background-color: #797979;
}
.formbs table th:nth-child(3) {
  padding: 10px;
  width: 25%;
  background-color: #797979;
}
.formbs table td {
  padding: 15px 5px;
  border: 1px solid #edeae5;
}
.formbsct table {
  width: 100%;
  text-align: center;
}
.formbsct table th {
  padding: 10px;
  background-color: #797979;
}
.formbsct table th:nth-child(2) {
  padding: 10px;
  width: 15%;
  background-color: #797979;
}
.formbsct table th:nth-child(3) {
  padding: 10px;
  width: 15%;
  background-color: #797979;
}
.formbsct table th:nth-child(4) {
  padding: 10px;
  width: 15%;
  background-color: #797979;
}
.formbsct table td {
  padding: 15px 5px;
  border: 1px solid #edeae5;
}
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
} /* Hide the images by default */
.mySlides {
  display: none;
}
.mySlides img {
  width: 100%;
  vertical-align: middle;
}
/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  /* user-select: none; */
}
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active,
.dot:hover {
  background-color: #717171;
}
/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.spct {
  text-align: center;
}
.spcl a {
  color: #000;
  text-decoration: none;
}
.spcl a:hover {
  color: #026670;
  text-decoration: underline;
}
.thongbao {
  color: red;
}
.binhluan table {
  width: 90%;
  margin-left: 5%;
}
.binhluan table td:nth-child(1) {
  width: 50%;
}
.binhluan table td:nth-child(2) {
  width: 20%;
}
.binhluan table td:nth-child(3) {
  width: 30%;
}
.binhluanform input[type="text"] {
  width: 79%;
  padding: 5px 8px;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #edeae5;
}
.binhluanform input[type="submit"] {
  width: 20%;
  float: right;
  padding: 5px 8px;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #edeae5;
}
.binhluanform input[type="submit"]:hover {
  width: 20%;
  float: right;
  padding: 4px 5px;
  color: #fff;
  background-color: #797979;
  border-radius: 5px;
  border: 3px solid #fff;
}
.formtimkiem input[type="text"] {
  width: 70%;
  padding: 5px 8px;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid gray;
}
.formtimkiem input[type="submit"] {
  width: 14%;
  float: right;
  padding: 5px 8px;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid gray;
}
.formtimkiem input[type="submit"]:hover {
  width: 14%;
  float: right;
  padding: 4px 5px;
  color: #fff;
  background-color: gray;
  border-radius: 5px;
  border: 1px solid gray;
}
.formtimkiem select {
  width: 15%;
  padding: 5px 8px;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid gray;
}
.chondm select {
  width: 10%;
  padding: 5px 5px;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid gray;
}
.listdm a {
  text-decoration: none;
  color: #000;
}
.cart {
  width: 100%;
}
